{% extends 'shop/basic.html' %}

{% block title %} about {% endblock %}


{% block style %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
{% endblock %}


{% block navLink %}
<li class="nav-item">
  <a class="nav-link" href="/shop">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/shop/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/contact">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/track">Tracker</a>
</li>
{% endblock %}

{% block cart %}
<a href="/shop/cart" class="btn btn-outline-light ms-3">
  <div class="d-flex justify-content-center align-items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-cart"
      viewBox="0 0 16 16"
    >
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
      />
    </svg>
    <span style="margin-left: 5px" id="cartLink">(0)</span>
  </div>
</a>
{% endblock %}


{% block body %}
<div class="container-fluid" style="margin-top: 70px;">
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron mb-4">
      <div class="container">
        <h1 class="display-3 text-light">AD Cart!</h1>
        <p class="text-light">ADCart Private Limited is an Indian e-commerce company, headquartered in Bangalore, and
          incorporated in Singapore as a
          private limited company. The company initially focused on online book sales before expanding into other
          product
          categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products. </p>

        <p class="text-light">
          The service competes primarily with Amazon India and domestic rival Snapdeal. As of FY23, ADCart held
          a 48%
          market share in the Indian e-commerce industry. ADCart has a dominant position in the apparel segment,
          bolstered by
          its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics
          and mobile
          phones.</p>
        <p class="text-light"><a class="btn btn-light" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <hr style="color: wheat;" class="border-2">
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="d-flex">
        <div class="col-md-4">
          <h2 class="text-light">Ayush Dhar</h2>
          <p class="text-light">My journey into the world of web development began with a fascination for how websites
            work behind the scenes. Over the years, I’ve honed my skills in both front-end and back-end development,
            mastering technologies like Python and JavaScript to create seamless and efficient digital solutions</p>
          <p><a class="btn btn-outline-light" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="text-light">Skills and Expertise</h2>
          <p class="text-light"><b>Front-end Development:</b> Crafting visually appealing and user-friendly interfaces
            that
            enhance your shopping experience.</p>
          <p class="text-light"><b>Back-end Development:</b> Building robust and scalable server-side solutions to
            ensure
            smooth operations.</p>
          <p class="text-light"><b>Python & JavaScript:</b> Leveraging these powerful languages to develop innovative
            features and functionalities.</p>
          <p class="text-light"><a class="btn btn-outline-light" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="text-light">What Drives Me</h2>
          <p class="text-light">I believe that technology should simplify lives and elevate experiences. At ADCart, my
            goal is to provide a user-centric
            platform that not only meets but exceeds your expectations. Each line of code and design element is
            crafted with the aim
            of delivering a seamless and enjoyable shopping experience.</p>
          <p class="text-light">Thank you for visiting ADCart. I’m excited to share this journey with you and am
            always here to ensure you have the best
            possible experience on our site.</p>
          <p class="text-light"><a class="btn btn-outline-light" href="#" role="button">View details &raquo;</a></p>
        </div>


        <hr>

      </div> <!-- /container -->

  </main>
</div>
{% endblock %}