{% extends 'shop/basic.html' %} {% block title %} Home {% endblock %}
<!-- navlink start -->
{% block navLink %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/shop">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/contact">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/track">Tracker</a>
</li>
{% endblock %} {% block body %}
<div class="container-fluid" style="margin-top: 70px">
  {% for products, range in allProds %}
  <p class="text fs-3 fw-bold text-light" style="margin-left: 80px">
    Flash sell on {{ products.0.category }} - Recomended
  </p>
  <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" style="margin-bottom: 60px">
    <div class="carousel-indicators" style="top: 350px;">
      <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide-to="0"
        class="active" aria-current="true" aria-label="Slide 1"></button>
      {% for i in range %}
      <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide-to="{{i}}"
        aria-label="Slide 2"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-evenly">
          <div class="">
            <div class="card" style="width: 350px; height: 350px; background-color: #1b1f22">
              <img src="/media/{{products.0.image}}" style="width: 350px; height: 200px; overflow: hidden"
                class="card-img-top" alt="no image" />
              <div class="card-body">
                <h5 class="card-title text-light">
                  {{ products.0.product_name }}
                </h5>
                <p class="card-text text-light fw-bolder fs-4">
                  ${{ products.0.price }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <button id="pr{{ products.0.id }}" class="btn btn-light cart">
                      Add to cart
                    </button>
                    <p class="text fs-5 text-light" id="text{{ products.0.id }}" style="margin: 0px 10px">
                      In cart: 0
                    </p>
                  </div>
                  <a href="/shop/product/{{ products.0.id }}" class="btn btn-light">
                    Learn more
                  </a>
                </div>
              </div>
            </div>
          </div>

          {% for i in products|slice:"1:" %}
          <div class="">
            <div class="card" style="width: 350px; height: 350px; background-color: #1b1f22">
              <img src="/media/{{i.image}}" class="card-img-top" style="width: 350px; height: 200px; overflow: hidden"
                alt="..." />
              <div class="card-body">
                <h5 class="card-title text-light">{{ i.product_name }}</h5>
                <p class="card-text text-light fw-bolder fs-4">
                  ${{ i.price }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <button id="pr{{ i.id }}" class="btn btn-light cart">
                      Add to cart
                    </button>
                    <p class="text fs-5 text-light" id="text{{ i.id }}" style="margin: 0px 10px">
                      In cart: 0
                    </p>
                  </div>
                  <a href="/shop/product/{{ i.id }}" class="btn btn-light">
                    Learn more
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|add:1|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-evenly">
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" style="width: auto; margin-left: 20px" type="button"
      data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" style="width: auto; margin-right: 20px" type="button"
      data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block js %} {% load static %}
<script src="{% static 'script/index.js' %}"></script>
{% endblock %}