<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AD Kart | Pay</title>
  </head>
  <body>
    <h1>Redirecting to payment gatway....</h1>
    <h1>Do not refesh this page.</h1>
    <form id="frm" action="https://test.payu.in/_payment" method="post">
      <input type="hidden" name="key" value="{{ key }}" />
      <input type="hidden" name="txnid" value="{{ txnid }}" />
      <input type="hidden" name="productinfo" value="{{ productinfo }}" />
      <input type="hidden" name="amount" value="{{ amount }}" />
      <input type="hidden" name="email" value="{{ email }}" />
      <input type="hidden" name="firstname" value="{{ firstname }}" />
      <input
        type="hidden"
        name="surl"
        value="{{ surl }}"
      />
      <input
        type="hidden"
        name="furl"
        value="{{ furl }}"
      />
      <input type="hidden" name="phone" value="{{ phone }}" />
      <input
        type="hidden"
        name="hash"
        value="{{ hash }}"
      />
    </form>
    <script>
        document.getElementById("frm").submit()
    </script>
  </body>
</html>
