{% extends "shop/basic.html" %} {% block title %} Contact Us {% endblock %}
<!-- style -->
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}
<!-- navlink start -->
{% block navLink %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/shop">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/contact">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/track">Tracker</a>
</li>
{% endblock %} 
{% block cart %}
<a href="/shop/cart" class="btn btn-outline-light ms-3">
  <div class="d-flex justify-content-center align-items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-cart"
      viewBox="0 0 16 16"
    >
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
      />
    </svg>
    <span style="margin-left: 5px" id="cartLink">(0)</span>
  </div>
</a>
{% endblock %}


{% block body %}
<div class="container-fluid" style="margin-top: 79px; margin-bottom: 40px;">
  <div class="container">
    <div class="d-flex">
      <div>
        <img src="/media/{{ prd.0.image }}" alt="" style="max-width: 630px;"/>
      </div>
      <div class="ms-5">
        <p class="text fs-2 fw-bold text-light">{{prd.0.product_name}}</p>
        <p class="text fs-4 fw-medium text-light" style="margin-left: 20px; margin-top: 80px;">
          $ {{prd.0.price}}.00
          <span class="fs-5 fw-normal text-danger" style="margin-left: 10px;">- 30% Off</span>
        </p>
        <p class="text-light text fs-4 fw-bold">Description: </p>
        <p class="text-light">{{prd.0.desc}}</p>
          <p class="text">Quantity in cart: <span id="qyt{{prd.0.id}}">0</span></p>
        <div class="d-flex justify-content-center flex-column align-items-center" id="main" style="margin-top: 30px;">
          
          <button class="btn btn-light" style="width: 100%; border-radius: 10px;" id="crt{{prd.0.id}}">Add to
            cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- scriprt -->
{% block js %}
{% load static %}
<script src="{% static "script/product.js" %}"></script>
{% endblock %}