{% extends "shop/basic.html" %} 
{% block title %} Contact Us {% endblock %} 
{% block navLink %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/shop">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/contact">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/shop/track">Tracker</a>
</li>
{% endblock %} {% block body %}
<div class="container-fluid" style="margin-top: 79px;" >
  <h5 class="text text-light">Tracker</h5>
</div>

{% endblock %}
