{% extends "shop/basic.html" %} {% block title %} Tracker {% endblock %}
<!-- style -->
{% block style %}
<style>
  input {
    border: 1px #666666 solid !important;
  }

  input::placeholder {
    color: rgb(187, 187, 187) !important;
    opacity: 1;
  }
</style>
{% endblock %} {% block navLink %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/shop">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/shop/contact">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/shop/track">Tracker</a>
</li>
{% endblock %} {% block cart %}
<a href="/shop/cart" class="btn btn-outline-light ms-3">
  <div class="d-flex justify-content-center align-items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-cart"
      viewBox="0 0 16 16"
    >
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
      />
    </svg>
    <span style="margin-left: 5px" id="cartLink">(0)</span>
  </div>
</a>
{% endblock %} {% block body %}
<div class="container-fluid" style="margin-top: 79px; margin-bottom: 80px">
  <div class="d-flex justify-content-center align-items-center">
    <p class="text-light fs-1 fw-medium">Track Your Order</p>
  </div>
  <div class="container">
    <form action="/shop/track/" method="post"> {% csrf_token %}
      <div class="container mb-3">
        <label for="orderId" class="form-label text-light fs-4">Order Id</label>
        <input
          type="text"
          class="form-control bg-dark text-light"
          id="orderId"
          placeholder="XXXXXX"
          name="orderId"
          required
        />
      </div>
      <div class="container mb-3">
        <label for="email" class="form-label text-light fs-4">Email</label>
        <input
          type="email"
          class="form-control bg-dark text-light"
          id="email"
          name="email"
          placeholder="abc@expample.com"
          required
        />
      </div>
      <div class="container d-flex justify-content-center align-items-center">
        <button class="btn btn-light" style="width: 120px; border-radius: 20px" type="submit">
          Track
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
